{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "API to create a Login Token for the User",
    "description" : "API to create a Login Token for the User",
    "version" : "v1.0.0"
  },
  "servers" : [ {
    "url" : "https://api.temenos.com/api/v1.0.0/"
  } ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/meta/users/{userId}/tokens" : {
      "get" : {
        "summary" : "Create unique token for the User",
        "description" : "Create unique token for the User",
        "operationId" : "getTokenForUser",
        "parameters" : [ {
          "name" : "userId",
          "in" : "path",
          "description" : "Identifier for the User.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The total number of records per page",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "page_start",
          "in" : "query",
          "description" : "The record from which the response should be displayed",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "page_token",
          "in" : "query",
          "description" : "Unique id expected to get as part of response from t24 on every enquiry request.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "credentials",
          "in" : "header",
          "description" : "Username and password to authenticate the API against core-banking.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "companyId",
          "in" : "header",
          "description" : "The identifier of the underlying Entity/Company/Branch.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "TokenForUserResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TokenForUserResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "QueryErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueryErrorResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "BusinessQueryErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BusinessQueryErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "SystemQueryErrorResponse",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemQueryErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "QueryHeader" : {
        "type" : "object",
        "properties" : {
          "audit" : {
            "$ref" : "#/components/schemas/QueryHeaderAudit"
          },
          "page_size" : {
            "type" : "integer",
            "description" : "The total number of records per page",
            "format" : "int32"
          },
          "page_start" : {
            "type" : "integer",
            "description" : "The record from which the response should be displayed",
            "format" : "int32"
          },
          "total_size" : {
            "type" : "integer",
            "description" : "The total number of records present",
            "format" : "int32"
          },
          "page_token" : {
            "type" : "string",
            "description" : "Unique id expected to get as part of response from t24 on every enquiry request"
          }
        }
      },
      "TokenForUserResponse" : {
        "type" : "object",
        "properties" : {
          "header" : {
            "$ref" : "#/components/schemas/QueryHeader"
          },
          "body" : {
            "$ref" : "#/components/schemas/TokenForUserResponseBody"
          }
        },
        "description" : "TokenForUserResponse"
      },
      "TokenForUserResponseBody" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/TokenForUserResponseBodyInner"
        }
      },
      "ErrorHeader" : {
        "type" : "object",
        "properties" : {
          "audit" : {
            "$ref" : "#/components/schemas/QueryHeaderAudit"
          }
        }
      },
      "QueryErrorResponse" : {
        "type" : "object",
        "properties" : {
          "header" : {
            "$ref" : "#/components/schemas/ErrorHeader"
          },
          "error" : {
            "$ref" : "#/components/schemas/QueryErrorResponseBody"
          }
        },
        "description" : "QueryErrorResponse"
      },
      "QueryErrorResponseBody" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The identifier of the error message"
          },
          "message" : {
            "type" : "string",
            "description" : "The actual t24 error message "
          },
          "type" : {
            "type" : "string",
            "description" : "The identifier of error type: "
          }
        }
      },
      "BusinessQueryErrorResponse" : {
        "type" : "object",
        "properties" : {
          "header" : {
            "$ref" : "#/components/schemas/ErrorHeader"
          },
          "error" : {
            "$ref" : "#/components/schemas/BusinessQueryErrorResponseBody"
          }
        },
        "description" : "BusinessQueryErrorResponse"
      },
      "BusinessQueryErrorResponseBody" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The identifier of the error message"
          },
          "message" : {
            "type" : "string",
            "description" : "The actual t24 error message for bad requests"
          },
          "type" : {
            "type" : "string",
            "description" : "The identifier of error type: Business"
          }
        }
      },
      "SystemQueryErrorResponse" : {
        "type" : "object",
        "properties" : {
          "header" : {
            "$ref" : "#/components/schemas/ErrorHeader"
          },
          "error" : {
            "$ref" : "#/components/schemas/SystemQueryErrorResponseBody"
          }
        },
        "description" : "SystemQueryErrorResponse"
      },
      "SystemQueryErrorResponseBody" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "The identifier of the error message"
          },
          "message" : {
            "type" : "string",
            "description" : "The actual t24 error message caused by server"
          },
          "type" : {
            "type" : "string",
            "description" : "The identifier of error type: System"
          }
        }
      },
      "QueryHeaderAudit" : {
        "type" : "object",
        "properties" : {
          "T24_time" : {
            "type" : "integer",
            "description" : "Time taken to response by T24",
            "format" : "int32"
          },
          "versionNumber" : {
            "type" : "string",
            "description" : "The CURR.NO. of the record"
          },
          "requestParse_time" : {
            "type" : "number",
            "description" : "Time taken to parse the request by IRIS"
          },
          "responseParse_time" : {
            "type" : "number",
            "description" : "Time taken to parse the response by IRIS"
          }
        }
      },
      "TokenForUserResponseBodyInner" : {
        "type" : "object",
        "properties" : {
          "token" : {
            "maxLength" : 40,
            "type" : "string",
            "description" : "Unique number that identifies a user session."
          },
          "validTransactUser" : {
            "maxLength" : 3,
            "type" : "string",
            "description" : "Indicates whether a valid transact user or Not"
          }
        }
      }
    },
    "securitySchemes" : {
      "basicAuth" : {
        "type" : "http",
        "scheme" : "basic"
      }
    }
  },
  "x-original-swagger-version" : "2.0"
}